.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.page-section img {
  margin: auto
}

.calloutElements {
  overflow-x: auto;
}

.calloutElements::-webkit-scrollbar{
  display: none;
}

.hero {
  background: linear-gradient(93.38deg, #F7FBFC -0.22%, rgba(242, 250, 255, 0) 105.94%);
}

section.projects img.polygon-one {
  left: 22.5%;
  top: -35%;
}

section.projects img.ploygon-two {
  right: 16.5%;
  bottom: -38.5%;
}

section.projects .slide div:not(:last-child) {
  min-width: 304px;
}

section.projects .slide div:last-child {
  min-width: calc(304px - 40px)
}

section.projects .slide{
  display: flex;
  min-width: 100%;
}

section.projects .slide .project .overlay {
  background: rgba(53, 64, 82, 0.5)
}

section.products-for-business {
  background-image: url('./assets/background-illustration.svg');
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
