.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.page-section img {
  margin: auto
}

.calloutElements {
  overflow-x: auto;
}

.calloutElements::-webkit-scrollbar{
  display: none;
}

.hero {
  background: linear-gradient(93.38deg, #F7FBFC -0.22%, rgba(242, 250, 255, 0) 105.94%);
}

section.projects img.polygon-one {
  left: 22.5%;
  top: -35%;
}

section.projects img.ploygon-two {
  right: 16.5%;
  bottom: -38.5%;
}

section.projects .slide div:not(:last-child) {
  min-width: 304px;
}

section.projects .slide div:last-child {
  min-width: calc(304px - 40px)
}

section.projects .slide{
  display: flex;
  min-width: 100%;
}

section.projects .slide .project .overlay {
  background: rgba(53, 64, 82, 0.5)
}

section .products-for-business img{
  background-image: url('./assets/background-illustration.svg');
}

section.innovative-product img.double-ellipse-group{
  bottom: -8.125rem;
}

.project-description p {
  margin-bottom: 3rem;
}

.project-page section.description #description-bg {
  position: relative;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #F9FAFB;
  transform: skewY(-15deg);
  transform-origin: 0 100%;
  overflow: hidden;
}

.project-page section.results #results-bg {
  position: relative;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 105%;
  background: #F9FAFB;
  transform: skewY(5deg);
  transform-origin: 0 100%;
  overflow: hidden;
}

.ellipse23 {
  width: 85px;
  height: 85px;
  background: linear-gradient(113.29deg, #A5C7B7 -38.4%, rgba(93, 66, 87, 0.4) 115.63%);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
}

.ellipse24 {
  width: 48px;
  height: 48px;
  background: linear-gradient(149.64deg, rgba(158, 118, 143, 0.6) -13.01%, rgba(159, 164, 196, 0.24) 110.51%);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
}

.project-page section.description .mockups {
  height: 100%;
}

section.desktop-mockup {
  background: linear-gradient(90.36deg, #F9FBFC -80.41%, #E1E6ED 106.35%);
}

.color-card {
  box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.04), 0px 1px 16px rgba(0, 0, 0, 0.08);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (min-width: 768px) {
  .project-page section.description .mockups {
    height: 44rem;
  }
}
